body {
    padding: 50vh;
    background-color: #d5edfc;
    position: relative;
    display: grid;
    justify-items: center;
    align-items: center;
}

#t {
    width: 100px;
    height: 200px;
    background: #95b6e4;
    z-index: 4;
    position: absolute;
    margin: auto;
    /* Center horizontally */
    left: 0;
    right: 0;
}

#c {
    width: 300px;
    height: 150px;
    background: #277292;
    border-radius: 110px;
    z-index: 1;
    position: absolute;
    margin: auto;
    /* Center horizontally */
    left: 0;
    right: 0;
}

#d {
    background: #7791b6;
    width: 250px;
    height: 100px;
    position: absolute;
    z-index: 3;
    border-radius: 110px;
    margin: auto;
    /* Center horizontally */
    left: 0;
    right: 0;
}

#b {
    background: #d5edfc;
    width: 200px;
    height: 50px;
    position: absolute;
    z-index: 4;
    border-radius: 110px;
    margin: auto;
    /* Center horizontally */
    left: 0;
    right: 0;
}

p {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    z-index: inherit;
    margin-top: -50vh;
    font-size: 18.5;
    line-height: 1.5;
    color: #277292;
}

a {
    color: #7791b6
}

a:hover {
    color: #95b6e4;
}